*.pbo
.hemttout
hemtt
hemtt.exe
*.biprivatekey
/.vscode
/extension/.vs
/extension/obj
*.dll
*.dll.config
*.pdb
/extension/packages
System.Threading.Tasks.Extensions.xml
System.Numerics.Vectors.xml
System.IO.Pipelines.xml
System.Buffers.xml
Sentry.xml
