# Ignored Files
**/*.biprivatekey
**/*.dll
**/*.dll.config
**/*.pbo
**/*.pdb
**/*.xml
**/*.zip

# Ignored Directories
**/.hemttout/
**/.vs/
**/.vscode/
**/hemtt/
**/obj/
**/bin/
**/packages/
**/steamcmd/

# Allowed Directories
!/addons/**/*

# Ignored Executables
hemtt.exe
